.anchor-text{
    color:black;
    font-size: 25px;
    font-family: 'Inconsolata', 'Dosis', monospace;
    font-weight: 100;
    margin-left: 0;
}

#detailexp {
    display: block;
    padding-top: 10px;
    margin: auto;
    width: 60%;
    height: auto;
    overflow: hidden;
}

#detailexp img {
    width: 25%;
    height: 25%;
    float: left;
    object-fit: contain;
}

#detailexp div{
    padding: 50px;
}

#detailexp section{
    padding: 30px;
}

#detailexp li{
    list-style-type: none;
}

#detailexp textarea{
    float: right;
    width: 65%;
}