.anchor-text{
    color:black;
    font-size: 1.5rem;
    font-family: 'Inconsolata', 'Dosis', monospace;
}

#detailexp {
    display: block;
    margin: auto;
    width: 60%;
    height: auto;
    overflow: hidden;
}

#detailexp img {
    width: 25%;
    height: 25%;
    float: left;
    object-fit: contain;
}

#detailexp div{
    padding: 50px;
}

#detailexp section{
    padding: 30px;
}

#detailexp li{
    list-style-type: none;
}

.exp-text{
    font-size: rem;
    float: right;
    width: 50%;
}

@media screen and (max-width: 640px){
    html{
        text-align: center;
    }
    #detailexp{
        width: 80%;
    }

    #detailexp img{
        width: 100%;
    }

    .exp-text{
        width: 100%;
    }
}