h1 {
    margin-left: auto;
    margin-right: auto;
    width: 18.5em;
    height: 1.25em;
    animation: typing 3.0s steps(37, end);
    /* animation: typing 3.0s steps(37, end), blink-caret .75s step-end infinite; */
    word-break: break-all;
    overflow: hidden;
    /* border-right: 0.5px solid transparent; */
}

@keyframes typing {
    from { width: 0; }
    to { width: 18.5em; }
}

/*
animation for caret
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: currentColor; }
}
*/

#selfintro {
    display: block;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    overflow: hidden;
}

#introleft{
    width: 50%;
    float: left;
    height: fit-content;
}

#pic{
    margin-left: 50px;
    width: 70%;
    border-radius: 5%;
    height: fit-content;
}

#socials{
    float: left;
    float: bottom;
}

#socials li{
    display: inline;
    list-style-type: none;
}

#socials img{
    width: 15%;
    padding-inline: 2%;
}

#introright{
    width: 50%;
    float: right;
    height: fit-content;
}

#introright p{
    display: inline;
}

#content-nav{
    background-color: #fef8c66c;
    height: fit-content;
    width: 65%;;
    font-size: 20px;
    font-family: 'Inconsolata', 'Dosis', monospace;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-style: outset;
    border-radius: 0.5cm;
    border-width: 0.5px;
}

#content-nav div{
    margin-top: 15px;
    margin-bottom: 15px;
}

