.headernav {
    float: right;
    background-color: rgba(255, 255, 182, 0.776);

    height: 30px;
    width: 100%;
    font-size: 20px;
    color: black;
    font-family: 'Inconsolata', 'Dosis', monospace;
    position: relative;
}


#selfintro {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: auto;
    overflow: hidden;
}

#selfintro #introleft{
    width: 50%;
    float: left;
}
/*
.mypic{
    width:100%;
}
*/
#selfintro #introright{
    width: 50%;
    float: right;
    display:inline-block;
}

#socials{
    display: inline;
}

.box img {
    width: 10%;
    height: 10%;
}

.box-contain img {
    object-fit: contain;
}